body {
    margin: 100px;
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content: center;
  }
 
  header{
    --text: #000000;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    transition: background 250ms ease-in;
  }
  /*.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }*/

  .col-directory{
    grid-row: 1;
    grid-column: 1/3;
    padding-top: 125px;
    max-width: 330px;
    width: 40%;
    background: #f3f3f3;
    padding-top: 125px;
    text-align: center;
  }

  .col-menu{
    padding-top: 125px;
    max-width: 1300px;
  }

  .site-logo {
    font-weight: 900;
    font-size: 0.8rem;
    color: var(--text);
    text-decoration: none;
  }

  /*promo description*/
  .post-title-wrapper {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .post-content .post-title-wrapper {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  div {
    display: block;
  }

  .style-light {
    color: #281c18;
  }

  .style-light .ui-text, .style-dark .style-light .ui-text, .style-light .breadcrumb, .style-dark .style-light .breadcrumb, .style-light .post-info, .style-dark .style-light .post-info {
    color: rgba(40,28,24,0.65);
}

.post-content > *:first-child, .post-content > .row-container > .row-parent > *:first-child {
  margin-top: 0px;
}

.main-container .row-container {
  position: relative;
  clear: both;
  border: 0;
}
.font-ui-fixed, .post-info, .widget-container .widget-title, #comments .comments-title, #respond .comments-title, #comments #reply-title, #respond #reply-title, .uncode-share h6 {
    font-family: Inter, 'Nanum Gothic';
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 12px;
}
.post-info {
    text-align: center;
}
.post-info {
    margin: 18px 0px 0px 0px;
}

  .font-ui-fixed, .post-info, .widget-container .widget-title, #comments .comments-title, #respond .comments-title, #comments #reply-title, #respond #reply-title, .uncode-share h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 12px;
  }

  .post-info {
    text-align: center;
  }

  .post-info {
    margin: 18px 0px 0px 0px;
  }

  .post-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  .post-wrapper, .margin-auto {
    margin: auto;
  }

  .post-wrapper .post-body {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .post-content::after {
    clear: both;
    content: '';
    display: block;
  }

  *:before, *:after {
    box-sizing: border-box;
  }

  body {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  body, p, li, dt, dd, dl, address, label, pre, code {
    font-size: 14px;
  }

  .post-content > *:first-child, .post-content > .row-container > .row-parent > *:first-child {
    margin-top: 0px;
  }
  .headings-style, h1, h2, h3, h4, h5, h6, .heading-text > p, .tmb .t-entry .t-entry-cat, .tmb .t-entry .t-entry-title, .tmb .t-entry .t-entry-table-typography, :not(.enhanced-atc).tmb-woocommerce.tmb .t-entry-visual .add-to-cart-overlay a, .vc_pie_chart .vc_pie_chart_value, ul.dwls_search_results .daves-wordpress-live-search_title .search-title {
    letter-spacing: 0.00em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

  .main-container .row-container {
    position: relative;
    clear: both;
    border: 0;
  }

  .main-container .row-container {
    position: relative;
    clear: both;
    border: 0;
  }

  .main-container .row-container .double-bottom-padding {
    padding-bottom: 72px;
  }

  .main-container .row-container .double-top-padding {
      padding-top: 72px;
  }
  .main-container .row-container .row-parent {
      padding: 36px 36px 36px 36px;
  }
  .main-container .row {
      width: 100%;
      table-layout: fixed;
  }
  .style-light {
      color: #281c18;
  }
  .row {
      display: table;
      table-layout: fixed;
      width: 100%;
      position: relative;
  }
  .post-content > *:first-child, .post-content > .row-container > .row-parent > *:first-child {
    margin-top: 0px;
}

.post-content .post-title-wrapper {
    margin-bottom: 30px;
}
.post-title-wrapper {
    text-align: center;
}

  
  /*topnav*/
  header {
    --text: #000000;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
  }

  /*aligning the logo*/
  .logo{
    align-self: center;
    padding-left: 2em;
    max-height: 70px;
  }

  /*center the nav list*/
  .nav__list {
    float: none;
    position: absolute;
    top: 50%;      
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .nav__link {
    --spacing: 2em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }
  

  .nav__link:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  .nav__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  .nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
  }
  
  .nav__link--btn:hover {
    display:inline-block;
  }
  
  .active, .nav__link--btn::after {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
  }
    
  .nav__link--btn--highlight:hover {
    background: var(--text);
    border-color: var(--text);
  }
  
  .nav-scrolled {
    --text: #000000;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .menu {
    display: block;
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .columns {
    display: flex;
  }
  
  .col + .col {
    margin-left: 1.5em;
  }
  
  .more-stuff-grid {
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
  }
  
  .from-left {
    grid-column: 2 / 3;
  }
  
  .from-right {
    grid-column: 3 / 4;
  }

  .container{
    position:relative;
    /*width: 1100px; if nak tetapkan 3 in one row, wont be responsive*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .container .card{
    width:308px;
    position: relative;
    border-color: #000000;
    border-width: 2px;
    margin:30px 10px;
    padding: 20px 15px;
    display:flex;
    flex-direction: column;
    transition:0.3s ease-in-out;
    
  }
  .container .card .imgBx{
    position: relative;
    width:260px;
    height: 260px;
    left:20px;
    box-shadow: 0 5px 20px rbga (0,0,0,1.2);
  }

  .container .card .imgBx img
  {
    max-width: 100%;
    /*border-radius: 10px; kalau nak bucu rounded*/
  }
  
  .imgBx:hover img{
    transform: scale(1.1);
  }
  
  h3, h2{
    text-align: center;
  }

  footer {
    break-after: always;
    font-size: medium;
    font-style: italic;
    text-align: center;
    border-top: 2px #221811 solid;
    background-color: rgb(128, 87, 175);
  }
  
.icontemp{
  margin:auto 0;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
}

/* The Modal (background) */
.modal {
line-height: 1.6;
font-size: 10pt;
letter-spacing: 0px;
box-sizing: border-box;
opacity: 1;
position: fixed;
border: 0px #d4d4d4 solid;
width: 700px;
padding: 10px 0px 10px 0px;
height: auto;
background: #fff;
z-index: 10012 !important;
left: 50%;
-webkit-transform: translateX(-50%);
top: 15%;
color: #555;
box-shadow: 0px 0px 0px 0px #ccc;
display: none;
clear: both;

}

/* Modal Content/Box */
.modal-content {
line-height: 1.6;
font-size: 10pt;
letter-spacing: 0px;
color: #555;
box-sizing: border-box;
border: 0px #000 solid;
width: 35%;
float: left;
display: table;
padding: 15px 0px;
 /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
/* Position it in the top right corner outside of the modal */
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)}
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)}
to {transform: scale(1)}
}

.header_login_panel{
line-height: 1.6;
font-size: 10pt;
letter-spacing: 0px;
color: #555;
box-sizing: border-box;
float: left;
width: 50%;
position: relative;
border: 0px #000 solid;
padding: 10px 40px;
margin: 0px 0%;
border-right: 0.5px #888 solid;
}

.header_new_customer_panel{
line-height: 1.6;
font-size: 10pt;
letter-spacing: 0px;
color: #555;
box-sizing: border-box;
float: left;
width: 50%;
position: relative;
border: 0px #000 solid;
padding: 10px 40px;
margin: 0px 0%;
}

.login_heading{
line-height: 1.6;
text-align: -webkit-center;
font-size: 15pt;
color: #111;
font-weight: 700;
letter-spacing: 1.5px;
padding: 0px 15px 5px 15px;
text-transform: uppercase;
}

INPUT[type="text"].loginField_box, INPUT[type="password"].passwordField_box{
outline: none;
-webkit-appearance: none;
border-radius: 0;
background: #fff;
font-size: 9pt;
letter-spacing: 0.5px;
width: 100% !important;
padding: 10px 10px 10px 10px !important;
height: 50px;
color: #707070;
border: 1px #e1e1e1 solid;
box-sizing: border-box;
}

INPUT[type="submit"].full_button{
background: #000;
font-size: 11pt;
color: #fff;
padding: 10px 30px 10px 30px;
text-transform: capitalize;
border: 0px #cecece solid;
height: 46px;
line-height: 13px;
width: 100% !important;
cursor: pointer;
border: 1px #000 solid;
font-weight: 300;
letter-spacing: 0px;
-o-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-khtml-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;
}

textarea, input.text, input[type="password"], input[type="text"], input[type="reset"], input[type="button"], input[type="submit"]{
-webkit-appearance: none;
border-radius: 0;
}

.smalltext_link {
font-size: 9pt;
color: #343434;
text-transform: capitalize;
text-decoration: none;
}

.css_btn_full {
display: block;
width: 100%;
background: #000;
color: #fff;
padding: 12px 0px;
font-size: 10pt;
text-transform: capitalize;
font-weight: 400;
letter-spacing: 0px;
border: 1px #000 solid;
}

.main2 {
color: #222;
font-weight: 600;
font-size: 9pt;
padding: 5px 0px 10px 0px;
text-transform: uppercase;
}