

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding-top: 100px; 
  margin-bottom: 150px;
  padding: 0 100px;
}
.container h2 {
margin-bottom: 0;
}

.container p {
margin-top: 0;
}



.container .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 260px;
  height: 200px;
  background: #B49DD6;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0);
  transition: 0.5s
}

.container .card:hover{
  height: 400px;
}

.container .card .imgBx{
  /*position: absolute;*/
  top:20px;
  width: 260px;
  height: 260px;
  background: #333;
  border-radius: 12px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
   top:-100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0,0,0,2);

}
.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
  object-fit: cover;
}
.container .card .content {
  position: absolute;
  top: 220px; ;
  width: 100%;
  height: 35px;
  /* padding: 0 30px; */
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 12px;
  display: none;
  transition: 0.5s;

}

.container .card:hover .content {
  top: 250px;
  height: 250px;
  display: block;
}
.imgBx:hover img{
  transform: scale(1.1);
}

h3, h2{
  text-align: center;
}

footer {
  /* break-after: always; */
  font-size: medium;
  font-style: italic;
  text-align: center;
  /* border-top: 2px #221811 solid; */

  background-color: rgb(128, 87, 175);
}

.icontemp{
margin:auto 0;
display: block;
text-align: center;
}