*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

/*blog*/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: black;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: blueviolet;
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: beige;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: black;
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.blog-text .blog-title:hover{
    color:blue;
    font-weight: bold;
    transition: all ease 0.3s;
}

.blog-text p{
    color: violet;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: black;
}

.blog-text a:hover{
    color:black;
    transition: all ease 0.3s;
}

/* Post Content */

.post-header{
    width: 100%;
    height: 500px;
    background: var(--container-color);
}

.post-container{
    max-width: 900px;
    margin: auto;
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem !important;
}

.back-home{
    color:black;
    font-size: 0.9rem;
}

.header-title{
    width: 100%;
    font-size: 2.6rem;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.header-img{
    width: 100%;
    height: 700px;
    object-fit: fill;
    object-position: center;
}

.post-content{
    margin-top: 20rem !important;
}

.sub-heading{
    font-size: 1.2rem;
}

.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

/* Share */

.share{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share-title{
    font-size: 1.1rem;
}

.unlisted{
    list-style-type: circle;
    list-style-type: disc;
}

 /*promo description*/
  .post-title-wrapper {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .post-content .post-title-wrapper {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  div {
    display: block;
  }

  .style-light {
    color: #281c18;
  }

  .style-light .ui-text, .style-dark .style-light .ui-text, .style-light .breadcrumb, .style-dark .style-light .breadcrumb, .style-light .post-info, .style-dark .style-light .post-info {
    color: rgba(40,28,24,0.65);
}

.post-content > *:first-child, .post-content > .row-container > .row-parent > *:first-child {
  margin-top: 0px;
}

.main-container .row-container {
  position: relative;
  clear: both;
  border: 0;
}
.font-ui-fixed, .post-info, .widget-container .widget-title, #comments .comments-title, #respond .comments-title, #comments #reply-title, #respond #reply-title, .uncode-share h6 {
    font-family: Inter, 'Nanum Gothic';
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 12px;
}
.post-info {
    text-align: center;
}
.post-info {
    margin: 18px 0px 0px 0px;
}

  .font-ui-fixed, .post-info, .widget-container .widget-title, #comments .comments-title, #respond .comments-title, #comments #reply-title, #respond #reply-title, .uncode-share h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 12px;
  }

  .post-info {
    text-align: center;
  }

  .post-info {
    margin: 18px 0px 0px 0px;
  }

  .post-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  .post-wrapper, .margin-auto {
    margin: auto;
  }

  .post-wrapper .post-body {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .post-content::after {
    clear: both;
    content: '';
    display: block;
  }

  *:before, *:after {
    box-sizing: border-box;
  }

  body {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  body, p, li, dt, dd, dl, address, label, pre, code {
    font-size: 14px;
  }

  .post-content > *:first-child, .post-content > .row-container > .row-parent > *:first-child {
    margin-top: 0px;
  }
  .headings-style, h1, h2, h3, h4, h5, h6, .heading-text > p, .tmb .t-entry .t-entry-cat, .tmb .t-entry .t-entry-title, .tmb .t-entry .t-entry-table-typography, :not(.enhanced-atc).tmb-woocommerce.tmb .t-entry-visual .add-to-cart-overlay a, .vc_pie_chart .vc_pie_chart_value, ul.dwls_search_results .daves-wordpress-live-search_title .search-title {
    letter-spacing: 0.00em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

  .main-container .row-container {
    position: relative;
    clear: both;
    border: 0;
  }

  .main-container .row-container {
    position: relative;
    clear: both;
    border: 0;
  }

  .main-container .row-container .double-bottom-padding {
    padding-bottom: 72px;
  }

  .main-container .row-container .double-top-padding {
      padding-top: 72px;
  }
  .main-container .row-container .row-parent {
      padding: 36px 36px 36px 36px;
  }
  .main-container .row {
      width: 100%;
      table-layout: fixed;
  }
  .style-light {
      color: #281c18;
  }
  .row {
      display: table;
      table-layout: fixed;
      width: 100%;
      position: relative;
  }
  .post-content > *:first-child, .post-content > .row-container > .row-parent > *:first-child {
    margin-top: 0px;
}

.post-content .post-title-wrapper {
    margin-bottom: 30px;
}
.post-title-wrapper {
    text-align: center;
}

